name: Build and Push Docker Image


on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

     
    - name: Build and Publish Docker Image
      run: |
        docker build -t makocho/libraryapi:latest .
        docker login -u ${{ secrets.Makocho1 }} -p ${{ secrets.DOCKER_HUB_TOKEN }}
        docker push makocho/libraryapi:latest