name: Build and Push Docker Image

runs:
  using: 'node16'

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0

      #  name: Build and Publish Docker Image
      #run: |
      #  docker build -t your-dockerhub-username/your-app-name:latest .
      #  docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_TOKEN }}
      #  docker push your-dockerhub-username/your-app-name:latest

    - name: Build and Publish Docker Image
      run: |
        docker build -t makocho/LibraryAPI:latest .
        docker login -u ${{ secrets.Makocho1 }} -p ${{ secrets.DOCKER_HUB_TOKEN }}
        docker push makocho/LibraryAPI:latest
      env:
        DOCKER_BUILDKIT: 1
        DOCKER_CLI_ASACTIONS: 1